@media (prefers-reduced-motion: reduce) {
    *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

@font-face {
    font-family: "Poppins Light";
    src: local("Poppins Light"), url("./assets/fonts/Poppins-Light.ttf");
    font-weight: 100 500;
}

@font-face {
    font-family: "Poppins Regular";
    src: local("Poppins Regular"), url("./assets/fonts/Poppins-Regular.ttf");
    font-weight: 100 700;
}

@font-face {
    font-family: "Poppins Bold";
    src: local("Poppins Bold"), url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: 100 800;
}

@font-face {
    font-family: "Poppins Medium";
    src: local("Poppins Medium"), url("./assets/fonts/Poppins-Medium.ttf");
    font-weight: 100 800;
}
